<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/contactLayout.css" />
    <link rel="stylesheet" href="/css/mediaqueries.css" />
    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="icon" href="/img/logo-sqaure.jpg" />
    <script src="/js/guestbookScript.js" defer></script>

    <title>Email Me!</title>
  </head>
  <body>
    <!-- Nav Bar Partials -->
    <%- include('../partials/header') %>

    <div id="contact">
      <div class="contact-container">
        <form id="contact-form" action="submit-form" method="post">
          <h1>Contact Me!</h1>
          <fieldset>
            <legend>Personal Information</legend>

            <!-- First and Last Name Row -->
            <div class="row">
              <div class="col">
                <label for="fname">First Name *</label>
                <input
                  type="text"
                  id="fname"
                  name="fname"
                  placeholder="First Name"
                />
                <span id="fnameErr" class="error"
                  >You Must Type in a First Name</span
                >
              </div>
              <div class="col">
                <label for="lname">Last Name *</label>
                <input
                  type="text"
                  id="lname"
                  name="lname"
                  placeholder="Last Name"
                />
                <span id="lnameErr" class="error"
                  >You Must Type in a Last Name</span
                >
              </div>
            </div>

            <!-- Email Full Width -->
            <div>
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email Address"
              />
              <span id="emailErr" class="error">"@" and "." are required</span>
            </div>
          </fieldset>

          <!-- How Did We Meet Section -->
          <fieldset>
            <legend>How did we meet?</legend>
            <div class="meet-container">
              <div class="col">
                <label for="met">Met From *</label>
                <select id="met" name="met">
                  <option value="none">Please Select</option>
                  <option value="LinkedIn">LinkedIn</option>
                  <option value="Indeed">Indeed</option>
                  <option value="Other">Other</option>
                </select>
                <span id="meetErr" class="error"
                  >You Must Select How We Met</span
                >
              </div>
              <div class="col" class="optional" id="otherDisplay">
                <label for="other" id="otherTitle" class="optional"
                  >Other*</label
                >
                <input
                  type="text"
                  id="other"
                  class="optional"
                  name="metInfo"
                  placeholder="Other"
                />
                <span id="otherErr" class="error">You must enter Other</span>
              </div>
            </div>
          </fieldset>

          <!-- Message -->
          <fieldset>
            <label for="message">Message</label>
            <textarea
              id="message"
              name="message"
              rows="4"
              placeholder="Your message"
            ></textarea>
          </fieldset>

          <!-- Mailing List -->
          <fieldset class="email-format">
            <div class="mailing-list-row">
              <label for="mailing-list">
                I want to be added to your mailing list:
                <input type="checkbox" id="mailing-list" name="mailingList" />
              </label>
            </div>

            <!-- Email format row -->
            <div id="email-format-row" class="optional">
              <p>Choose email format: *</p>
              <label
                ><input
                  type="radio"
                  id="html-button"
                  name="format"
                  value="html"
                />
                HTML</label
              >
              <label
                ><input
                  type="radio"
                  id="text-button"
                  name="format"
                  value="text"
                />
                Text</label
              >
              <span id="formatErr" class="error">You Must Select a Fomrat</span>
            </div>
            <!-- Hidden input to always send a format value -->
            <input type="hidden" name="format" id="format-hidden" value="">

          </fieldset>

          <button type="submit" class="submit-btn">Submit</button>
        </form>
      </div>
    </div>
    <footer>
      <a href="https://github.com/KevinSandoval12/portfolio-2"
        >--->GitHub Repo: https://github.com/KevinSandoval12/portfolio-2<---</a
      >
    </footer>
  </body>
</html>
